<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-top border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <%= link_to 'RailsMongodbDevice', root_path, class: 'navbar-brand' %>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <% if user_signed_in? %>
      <%= link_to 'Edit account', edit_user_registration_path, class: "p-2 text-dark" %>
      <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: "p-2 text-dark" %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: "p-2 text-dark" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "p-2 text-dark" %>
    <% end %>
  </nav>
</div>